body{
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
}
  
/* .axis-text-x {
  fill: #10325D;
  text-anchor: middle;
}
  
.axis-text-y {
  fill: #10325D;
  text-anchor: middle;
} */

.jumbotron {
    margin-top: 30px;
    text-align: center;
}

.axis-text {
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.active {
  font-weight: 900;
  fill: rgb(250, 70, 70);
}

.inactive {
  font-weight: lighter;
  fill: rgb(121, 143, 172);
}

/* .axis-text-main{
 text-anchor: middle;
 font-size: 0.75em;
} */

.state-abbrev {
  font-size: 11px;
  font-weight: 600;
  text-anchor: middle;
  fill: whitesmoke;
}

.tooltip {
  position: absolute;
  text-align: center;
  color: whitesmoke;
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 5px;
}

#corr-table {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* th {
  font-size: 14px;
} */

td {
  text-align: right;
  /* font-size: 12px; */
}